.card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 1rem !important;
  border-width: inherit !important;
  margin-bottom: 1rem;
}
.blankCard {
  border: 0.125rem dashed #929292 !important;
  background-color: #b2b4b5;
}
.subtitle {
  font-weight: bold !important;
  font-size: 0.75rem !important;
  color: #408cfb;
}
.title {
  font-weight: bold !important;
  font-size: 1.75rem !important;
  line-height: 1.7 !important;
}
.blankCardTitle {
  font-size: 1.25rem !important;
}
.key {
  padding-top: 0.5rem;
  font-size: 0.75rem;
  color: #929292;
  font-weight: bold;
}
.value {
  font-size: 1.25rem;
  font-weight: bold;
}

.low {
  color: #84bcbd;
}
.high {
  color: #fd5f37;
}
.progressBar {
  margin-top: 0.75rem;
  height: 1.75rem !important;
  border-radius: 0.75rem !important;
}
.blankColer {
  color: #929292 !important;
}