.grid {
  display: grid;
  gap: .5rem;
  padding: .5rem;
}

.grid1 {
  grid-template-columns: repeat(1, 1fr);
}

.grid2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid5 {
  grid-template-columns: repeat(5, 1fr);
}

.grid6 {
  grid-template-columns: repeat(6, 1fr);
}

.grid7 {
  grid-template-columns: repeat(7, 1fr);
}

.grid8 {
  grid-template-columns: repeat(8, 1fr);
}

.grid9 {
  grid-template-columns: repeat(9, 1fr);
}

.grid10 {
  grid-template-columns: repeat(10, 1fr);
}

.layout {
  grid-template-columns: 40rem 1fr 20rem;
  grid-template-rows: 3rem 1fr 20rem;
}